body {
    background-color: black;
}
#container{
    border: 1px red solid;
    height:500px;
    width: 500px;
    margin: 0 auto ;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 200px



}
#space-jam{
    border: 2px solid white;
    width: 496px;
    height: 420px;
    position: relative;

}
div > p {
    position: relative;
    color: white;
    text-align: center;
    padding-top: 160px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px 
}